@use "../utils/_index.scss" as *;

.title {
  font-family: $font-family;
  @include adaptive-property(font-size, 1.25, 0, 2.25, rem);
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: $text-color-main;
  line-height: 1.2;
  color: inherit;
}

.subtitle {
  font-family: $font-family;
  @include adaptive-property(font-size, 1, 0, 1.5, rem);
  line-height: 1.2;
  color: #ecdcecee;
}

//=================================BUTTON=============================
.button {
  width: fit-content;
  position: relative;
  left: 0;
  right: 0;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  @include adaptive-property(font-size, 1, 0, 1.5, rem);
  line-height: 1.4;
  letter-spacing: -0.002em;
  color: $text-color-main;

  border-radius: $radius-s;
  border: 1px solid currentColor;
  transition: $transition-duraction;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur($blur);
  background: rgba(255, 255, 255, 0.08);

  img {
    @include adaptive-property(width, 24, 0, 34);
    aspect-ratio: 1 / 1;
    object-position: center;
    object-fit: cover;
  }
}

// ==============================LOGO
.logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  cursor: pointer;

  &__img {
    display: block;
    width: 40px;
    aspect-ratio: 1 / 1;
    @include ibg;
  }
}

// =================================SCROLL
.scroll-left {
  direction: rtl;
  overflow-y: auto;

  >p {
    direction: ltr;
    @include adaptive-property(padding-left, 20, 0, 32);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #0097FF;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #0097FF;
  }
}