@use "../utils/_index.scss" as *;

.hero {
  position: relative;
  height: 100svh;
  width: 100%;

  &__img {
    position: absolute;
    inset: 0;
    @include ibg;
    z-index: -1;
  }

  &__container {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__text-content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 35px;
  }

  &__title {
    @include font-outfit;
    @include adaptive-property(font-size, 1.875, 0, 4, rem);
    font-weight: 500;
    line-height: 1.2;
  }

  &__text p {
    @include adaptive-property(font-size, 1, 0, 1.25, rem);
    line-height: 1.6;
  }

  &__play {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur($blur);
    background: rgba(255, 255, 255, 0.08);

    svg {
      width: 34.375%;
      height: 40.625%;
      transform: translateX(20%);
      object-fit: contain;
      object-position: center;
    }

    @include adaptive-property(width, 120, 0, 240);
    @include adaptive-property(height, 120, 0, 240);
    @include adaptive-property(margin-block, 100, 20, 0);
  }
}
