@use "../utils/_index" as *;

.menu {
  @media (max-width: 1024.9px) {
    &__body {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100svh;
      width: 100%;
      padding: 100px 30px 30px;
      background: linear-gradient(
        0deg,
        $bg-color-main 0%,
        #296188 70%,
        #fff 100%
      );
      transition: $transition-duraction;
      overflow: scroll;

      &::before {
        content: "";
        position: fixed;
        width: 100%;
        min-height: 88px;
        left: -100%;
        top: 0;
        background: rgba(56, 152, 221, 0.05);
        backdrop-filter: blur(5px);
        transition: $transition-duraction;
        z-index: 2;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
    }

    &__link {
      font-size: 1.2rem;
      color: $text-color-main;
    }
  }

  @media (min-width: 1025px) {
    &__list {
      padding-block: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 1.5rem;
    }
  }

  &__link {
    display: inline-block;
    line-height: 1.2;
    color: $bg-color-2;
    @include position-r;
    @include adaptive-property(font-size, 2, 1.125, 1.125, rem);
  }
}

.menu__body.open {
  left: 0%;

  &::before {
    left: 0;
  }
}

.burger {
  @media (max-width: 1024px) {
    display: block;
    z-index: 5;
    @include position-r;
    @include adaptive-property(width, 32, 44, 44);
    @include adaptive-property(height, 18, 22, 22);
    cursor: pointer;

    &::before,
    &::after,
    span {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 10px;
      background-color: $bg-color-2;
      transition: $transition-duraction;
      cursor: pointer;

      @include on-mobile-l {
        height: 4px;
      }
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      //top: calc(50% - 1px);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (min-width: 1025px) {
    display: none;
  }
}

.burger.active {
  &::before {
    //top: calc(50% - 1px);
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }

  &::after {
    //top: calc(50% - 1px);
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
  }

  span {
    opacity: 0;
    transform: scaleX(0);
  }
}

.header.scrolling {
  .burger:not(.active)::before,
  .burger:not(.active)::after,
  .burger:not(.active) span {
    background-color: $text-color-main;
  }
}
