@use "../utils/_index.scss" as *;

.slider {
  min-width: 0;
  &__body {
    display: flex;
    flex-direction: column;
    @include adaptive-property(row-gap, 40, 0, 80);
  }
  &__top {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }
  &__buttons {
    display: none;
    @include on-mobile-l {
      display: flex;
      column-gap: 36px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur($blur);
    background: rgba(255, 255, 255, 0.08);
    transition: scale, $transition-duraction ease-in-out;
    @include adaptive-property(width, 30, 0, 60);
    @include adaptive-property(height, 30, 0, 60);
    @include hover {
      backdrop-filter: blur(24px);
      background: rgba(255, 255, 255, 0.2);
    }
  }
  &__button--prev {
    rotate: 180deg;
  }
  &__dots {
    max-width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 4px;
    align-self: center;

    span {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #000;
      transition: $transition-duraction;
    }
    span.swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
  @include adaptive-property(width, 280, 0, 1280);
}

.slide {
  flex-shrink: 0;
  cursor: pointer;
  transition: $transition-duraction;
  @include adaptive-property(width, 200, 0, 296);

  &__body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: $radius-s;

    @include on-tablet {
      border-radius: $radius-l;
    }
  }
}
