@use "../utils/index" as *;

.fill-color {
  position: relative;
  display: inline-block;
  white-space: nowrap;


  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    border-bottom: 2px solid currentColor;
    color: #3898dd;
    transition: max-width $transition-duraction ease-in-out;
  }

  &:hover::before {
    max-width: 100%;
  }
}